body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* NAVBAR ================================================== */

.NavBarDiv {
  display: flex;
  justify-content: space-between;
}

/* CART ==================================================== */

.CartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.CartItemEditDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
  margin-left: auto;
}

.CartItemQty {
  margin: 0 1em;
}

.CartIncrement,
.CartDecrement {
  border: none;
  border-radius: 5px;
  background-color: #595959;
  color: #fff;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
}

.CartIncrement:hover,
.CartDecrement:hover {
  background-color: #757575;
}

.CartRemoveItem {
  margin-left: 1em;
  border: none;
  border-radius: 5px;
  background-color: #ff4747;
  color: #fff;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
}

.CartRemoveItem:hover {
  background-color: #de3e3e;
}
